<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.finlogic.controller.ImageServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>displayServlet</servlet-name>
        <servlet-class>com.finlogic.controller.displayServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>displayImageServlet</servlet-name>
        <servlet-class>com.finlogic.controller.displayImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.finlogic.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetails</servlet-name>
        <servlet-class>com.finlogic.controller.productDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.finlogic.controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEventsServlet</servlet-name>
        <servlet-class>com.finlogic.controller.adminEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEventsServlet2</servlet-name>
        <servlet-class>com.finlogic.controller.adminEventsServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>com.finlogic.controller.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>com.finlogic.controller.adminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactDetailServlet</servlet-name>
        <servlet-class>com.finlogic.controller.contactDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>displayServlet</servlet-name>
        <url-pattern>/displayServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>displayImageServlet</servlet-name>
        <url-pattern>/displayImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetails</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEventsServlet</servlet-name>
        <url-pattern>/adminEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEventsServlet2</servlet-name>
        <url-pattern>/adminEventsServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/adminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactDetailServlet</servlet-name>
        <url-pattern>/contactDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
